body {
	background-color: #E6E3E4;
	width: 80%;
	max-width: 800px;
	min-width: 590px;
	margin: 0 auto;
	margin-top: 60px;
		
	/* font-family: 'Glegoo', serif; meh :o
font-family: 'Lato', sans-serif; fine for Ps
font-family: 'Arimo', sans-serif; like for normalness
font-family: 'Montserrat', sans-serif; not so good
font-family: 'Maven Pro', sans-serif;
font-family: 'Open Sans', sans-serif; nice
font-family: 'Varela', sans-serif; more spread out

*/
}

/* Title*/
h1 {
	display: block;
	padding: 10px;
	font-size: 40px;
	font-family:'Open Sans', sans-serif;
	color: #2A292B;
	background-color: #E6E3E4;
}

/* Writing styling and border*/
p {
	display: block;
	padding: 10px;
	border: solid 2px #CECACA;
	font-size: 16px;
	font-family:"Arimo", sans-serif;
	color: 4B494D;
	background-color: #E6E3E4;

}

/* Picture of shoe centred*/
.shoe {
	display: block;
	margin: 0 auto;
}
#buttons {
	display:inline-block;
	margin: 0 auto;
	width: 436px;
	margin-top: 20px;
	margin-bottom: 20px
}

/* Google Plus Button - doesn't work offline*/
#gplusbutton {
	
}

.twitter-share-button {
	
}

/* nav bar */

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #CECACA;
}

ul#menu {
	font-family: "Arimo", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	list-style: none;
	
	width: 80%;
	max-width: 800px;
	min-width: 590px;
	margin: 0 auto;
}

ul#menu li {
	display: block;
	position: relative;
	float: left;
}

ul#menu li.right {
	float: right;
}

ul#menu li ul {
	display: none;
}

ul#menu li a {
	display: block;
	text-decoration: none;
	color: #2A292B;
	padding: 15px 15px 15px 15px;
	background: #CECACA;
	margin-left: 1px;
	white-space: nowrap;
}

ul#menu li a:hover {
	background: #CECACA;
}

#menu li:hover ul { 
	display: block; 
	position: absolute;
}

#menu li:hover li { 
	float: none;
	font-size: 11px;
}

#menu li:hover a {
	background: #CECACA;
}

#menu li:hover li a:hover {
	background: #CECACA;
}

/*acknowledgements pictures*/
div.ackpeople {
	margin: 0 auto;
	border: solid 2px #CECACA;
	text-align: center;
	padding: 10px;
}

/* Hover over acknowledgement descriptions*/
a .imagedescription {
  display: none;
  background: #E6E3E4;
  position: absolute;
  width: 200px;
  margin-left: -22px;
  padding: 4px;
  border: solid 2px #CECACA;
  color: #2A292B;
  font-family:"Arimo", sans-serif;
  text-decoration: none;
}

a .imagedescription h3 {
  margin-top: 0;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:hover .imagedescription {
  display: block;
}

a .imagedescription:hover {
  display: none;
}

footer {
	
	font-family:"Arimo", sans-serif;
	font-size: 12px;
	color: #2A292B;
	background-color: #E6E3E4;
	position: fixed;
	bottom: 0px;
}